@{
    ViewData["Title"] = "Tin tức";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section class="container-fluid my-2 px-5 bg-submenu p-2">
        <div class="container-fluid bg-forum2">
            <h3 class="text-forum-orange mb-0 p-2">
                <oke class="bg-text-forum p-1">Forum</oke>
                <oke class="text-forum-submenu">AiTi</oke> / Tin tức
            </h3>
        </div>
    </section>
    <!-- Start Categories of The Month -->
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide m-5" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/img4.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <a href="#"><h1 class="h1 text-success banner-title">Thành công ở đại học là gì? Bí quyết để thành công?</h1></a>
                                <p class="banner-content">
                                    Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                                    còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                                    Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                    nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                                    hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                                    cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                                    giao tiếp hiệu quả.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/img2.webp" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <a href="#"><h1 class="h1 text-success banner-title">Thành công ở đại học là gì? Bí quyết để thành công?</h1></a>
                                <p class="banner-content">
                                    Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                                    còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                                    Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                    nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                                    hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                                    cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                                    giao tiếp hiệu quả.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/img3.webp" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <a href="#"><h1 class="h1 text-success banner-title">Thành công ở đại học là gì? Bí quyết để thành công?</h1></a>
                                <p class="banner-content">
                                    Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                                    còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                                    Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                    nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                                    hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                                    cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                                    giao tiếp hiệu quả.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
            role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
            role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->

    <section class="mx-5 my-2 ">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-8">
                <div class="container-fluid bg-question-light">
                    <div class="row p-2">
                        <div class="col-12 col-lg-6 col-md-6">
                            Chủ đề tin tức
                            <select style="width: 100%;margin-top: 10%;" aria-placeholder="Đừng quên chọn danh mục nhé!"
                                required class="js-example-basic-multiple" id="listcategory" name="states[]"
                                multiple="multiple">
                                <option value="1">C#</option>
                                <option value="2">Java</option>
                                <option value="3">C++</option>
                                <option value="4">Python</option>
                            </select>
                            <script>
                                $(document).ready(function () {
                                    $('.js-example-basic-multiple').select2({
                                        maximumSelectionLength: 3,
                                        language: "vi"
                                    });
                                });
                            </script>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6">
                            Thời gian tin tức
                            <select style="border: 3px solid #f4a261;padding: 1%;" class="form-select mt-2"
                                id="single-select-field" data-placeholder="Choose one thing">
                                <option disabled selected></option>
                                <option>Hôm nay</option>
                                <option>Tuần trước</option>
                                <option>Tháng này</option>
                                <option>Năm này</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="div-news my-2">
                    <div class="news row">
                        <div class="news-left p-0 col-12 col-lg-4 col-md-4">
                            <img class="m-0" src="assets/img/img3.webp" alt="">
                        </div>
                        <div class="news-right col-12 col-lg-8 col-md-8">
                            <a href="details-news.html"><h4 class="news-title">Thành công ở đại học là gì? Bí quyết để thành công?</h4></a>
                            <p class="news-time-post">Đăng ngày 27 tháng 9 năm 2023</p>
                            <p class="news-list"><a href="#">Java</a> <a href="#">Python</a> <a href="#">C#</a></p>
                            <p class="news-content">
                                Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                                còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                                Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                                hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                                cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                                giao tiếp hiệu quả.
                            </p>
                        </div>
                    </div>
                    <div class="news row">
                        <div class="news-left p-0 col-12 col-lg-4 col-md-4">
                            <img class="m-0" src="assets/img/img3.webp" alt="">
                        </div>
                        <div class="news-right col-12 col-lg-8 col-md-8">
                            <a href="details-news.html"><h4 class="news-title">Thành công ở đại học là gì? Bí quyết để thành công?</h4></a>
                            <p class="news-time-post">Đăng ngày 27 tháng 9 năm 2023</p>
                            <p class="news-list"><a href="#">Java</a> <a href="#">Python</a> <a href="#">C#</a></p>
                            <p class="news-content">
                                Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                                còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                                Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                                hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                                cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                                giao tiếp hiệu quả.
                            </p>
                        </div>
                    </div>
                    <div class="news row">
                        <div class="news-left p-0 col-12 col-lg-4 col-md-4">
                            <img class="m-0" src="assets/img/img3.webp" alt="">
                        </div>
                        <div class="news-right col-12 col-lg-8 col-md-8">
                            <a href="details-news.html"><h4 class="news-title">Thành công ở đại học là gì? Bí quyết để thành công?</h4></a>
                            <p class="news-time-post">Đăng ngày 27 tháng 9 năm 2023</p>
                            <p class="news-list"><a href="#">Java</a> <a href="#">Python</a> <a href="#">C#</a></p>
                            <p class="news-content">
                                Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                                còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                                Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                                hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                                cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                                giao tiếp hiệu quả.
                            </p>
                        </div>
                    </div>
                    <div class="news row">
                        <div class="news-left p-0 col-12 col-lg-4 col-md-4">
                            <img class="m-0" src="assets/img/img3.webp" alt="">
                        </div>
                        <div class="news-right col-12 col-lg-8 col-md-8">
                            <a href="details-news.html"><h4 class="news-title">Thành công ở đại học là gì? Bí quyết để thành công?</h4></a>
                            <p class="news-time-post">Đăng ngày 27 tháng 9 năm 2023</p>
                            <p class="news-list"><a href="#">Java</a> <a href="#">Python</a> <a href="#">C#</a></p>
                            <p class="news-content">
                                Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                                còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                                Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                                hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                                cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                                giao tiếp hiệu quả.
                            </p>
                        </div>
                    </div>
                    <div class="news row">
                        <div class="news-left p-0 col-12 col-lg-4 col-md-4">
                            <img class="m-0" src="assets/img/img3.webp" alt="">
                        </div>
                        <div class="news-right col-12 col-lg-8 col-md-8">
                            <a href="details-news.html"><h4 class="news-title">Thành công ở đại học là gì? Bí quyết để thành công?</h4></a>
                            <p class="news-time-post">Đăng ngày 27 tháng 9 năm 2023</p>
                            <p class="news-list"><a href="#">Java</a> <a href="#">Python</a> <a href="#">C#</a></p>
                            <p class="news-content">
                                Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                                còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                                Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                                hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                                cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                                giao tiếp hiệu quả.
                            </p>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 p-0">
                <div class="container-fluid">
                    <h2 class="py-4 bg-forum text-center new-question">Tin tức nổi bật</h2>
                    <div class="question-div">
                        <div class="details-news row">
                            <div class="details-news-left p-0 col-12 col-lg-5">
                                <img class="m-0" src="assets/img/img3.webp" alt="">
                            </div>
                            <div class="details-news-right col-12 col-lg-7">
                                <h4 class="details-news-title"><a href="#">Thành công ở đại học là gì? Bí quyết để thành
                                        công?</a></h4>
                                <p class="details-news-time-post">Đăng ngày 27 tháng 9 năm 2023</p>
                                <p class="details-news-content">
                                    Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà
                                    họ
                                    còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của
                                    bạn.
                                    Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                    nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ
                                    chức…Các
                                    hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn
                                    là
                                    cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ
                                    năng
                                    giao tiếp hiệu quả.
                                </p>
                            </div>
                        </div>
                        <div class="details-news row">
                            <div class="details-news-left p-0 col-12 col-lg-5">
                                <img class="m-0" src="assets/img/img3.webp" alt="">
                            </div>
                            <div class="details-news-right col-12 col-lg-7">
                                <h4 class="details-news-title"><a href="#">Thành công ở đại học là gì? Bí quyết để thành
                                        công?</a></h4>
                                <p class="details-news-time-post">Đăng ngày 27 tháng 9 năm 2023</p>
                                <p class="details-news-content">
                                    Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà
                                    họ
                                    còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của
                                    bạn.
                                    Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                    nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ
                                    chức…Các
                                    hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn
                                    là
                                    cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ
                                    năng
                                    giao tiếp hiệu quả.
                                </p>
                            </div>
                        </div>
                        <div class="details-news row">
                            <div class="details-news-left p-0 col-12 col-lg-5">
                                <img class="m-0" src="assets/img/img3.webp" alt="">
                            </div>
                            <div class="details-news-right col-12 col-lg-7">
                                <h4 class="details-news-title"><a href="#">Thành công ở đại học là gì? Bí quyết để thành
                                        công?</a></h4>
                                <p class="details-news-time-post">Đăng ngày 27 tháng 9 năm 2023</p>
                                <p class="details-news-content">
                                    Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà
                                    họ
                                    còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của
                                    bạn.
                                    Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                    nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ
                                    chức…Các
                                    hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn
                                    là
                                    cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ
                                    năng
                                    giao tiếp hiệu quả.
                                </p>
                            </div>
                        </div>
                        <div class="details-news row">
                            <div class="details-news-left p-0 col-12 col-lg-5">
                                <img class="m-0" src="assets/img/img3.webp" alt="">
                            </div>
                            <div class="details-news-right col-12 col-lg-7">
                                <h4 class="details-news-title"><a href="#">Thành công ở đại học là gì? Bí quyết để thành
                                        công?</a></h4>
                                <p class="details-news-time-post">Đăng ngày 27 tháng 9 năm 2023</p>
                                <p class="details-news-content">
                                    Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà
                                    họ
                                    còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của
                                    bạn.
                                    Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                    nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ
                                    chức…Các
                                    hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn
                                    là
                                    cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ
                                    năng
                                    giao tiếp hiệu quả.
                                </p>
                            </div>
                        </div>
                        <div class="details-news row">
                            <div class="details-news-left p-0 col-12 col-lg-5">
                                <img class="m-0" src="assets/img/img3.webp" alt="">
                            </div>
                            <div class="details-news-right col-12 col-lg-7">
                                <h4 class="details-news-title"><a href="#">Thành công ở đại học là gì? Bí quyết để thành
                                        công?</a></h4>
                                <p class="details-news-time-post">Đăng ngày 27 tháng 9 năm 2023</p>
                                <p class="details-news-content">
                                    Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà
                                    họ
                                    còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của
                                    bạn.
                                    Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                    nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ
                                    chức…Các
                                    hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn
                                    là
                                    cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ
                                    năng
                                    giao tiếp hiệu quả.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <h2 class="py-4 bg-forum text-center new-question">Danh mục ưa thích</h2>
                    <div class="listcat bg-forum2">
                        <a href="details-qa.html">
                            <h4 class="py-2 bg-danger text-center">Tình yêu học đường</h4>
                        </a>
                        <a href="details-qa.html">
                            <h4 class="py-2 bg-danger text-center">Tình yêu học đường</h4>
                        </a>
                        <a href="details-qa.html">
                            <h4 class="py-2 bg-danger text-center">Tình yêu học đường</h4>
                        </a>
                        <a href="details-qa.html">
                            <h4 class="py-2 bg-danger text-center">Tình yêu học đường</h4>
                        </a>
                        <a href="details-qa.html">
                            <h4 class="py-2 bg-danger text-center">Tình yêu học đường</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->

    <!-- End Featured Product -->
