@{
    ViewData["Title"] = "Quản lý tin tức";
	Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
    <!-- Close Header -->
    <section class="container-fluid my-2 px-5 bg-submenu p-2">
        <div class="container-fluid bg-forum2">
            <h3 class="text-forum-orange mb-0 p-2">
                <oke class="bg-text-forum p-1">Management</oke>
                <oke class="text-forum-submenu">Forum</oke> / Tin tức
            </h3>
        </div>
    </section>
    <!-- Start Categories of The Month -->
    <section class="mx-5 my-2 ">
        <div class="row m-0">
            <div class="col-12 p-0 bg-forum2" id="admin-left">
                <div class="container-fluid mb-2">
                    <div class="row p-1">
                        <div class="col-6"></div>
                        <div class="col-6 p-2">
                            <a href="add_edit_news_admin.html" class="btn btn-addUser" id="addUser-btn">Thêm mới</a>
                        </div>
                    </div>
                    <table id="example" class="table table-striped table-hover table-success" style="width:100%">
                        <thead>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Nội dung</th>
                                <th>Hình ảnh tiêu đề</th>
                                <th>Thời gian đăng</th>
                                <th>Người đăng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì.
                                    Bằng cách tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có
                                    cơ hội hẹn hò với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-04-25</td>
                                <td>Boy AiTi</td>
                            </tr>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp 0?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì.
                                    Bằng cách tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có
                                    cơ hội hẹn hò với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-04-25</td>
                                <td>Boy AiTi</td>
                            </tr>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp 2?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì.
                                    Bằng cách tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có
                                    cơ hội hẹn hò với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-04-25</td>
                                <td>Boy AiTi</td>
                            </tr>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp 1?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì.
                                    Bằng cách tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có
                                    cơ hội hẹn hò với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-05-25</td>
                                <td>Admin</td>
                            </tr>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp 0?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã
                                    từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì. Bằng
                                    cách
                                    tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có cơ hội hẹn
                                    hò
                                    với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-04-25</td>
                                <td>Boy AiTi</td>
                            </tr>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp 2?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã
                                    từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì. Bằng
                                    cách
                                    tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có cơ hội hẹn
                                    hò
                                    với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-04-25</td>
                                <td>Boy AiTi</td>
                            </tr>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp 1?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã
                                    từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì. Bằng
                                    cách
                                    tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có cơ hội hẹn
                                    hò
                                    với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-05-25</td>
                                <td>Admin</td>
                            </tr>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp 0?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì.
                                    Bằng cách tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có
                                    cơ hội hẹn hò với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-04-25</td>
                                <td>Boy AiTi</td>
                            </tr>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp 2?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì.
                                    Bằng cách tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có
                                    cơ hội hẹn hò với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-04-25</td>
                                <td>Boy AiTi</td>
                            </tr>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp 1?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì.
                                    Bằng cách tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có
                                    cơ hội hẹn hò với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-05-25</td>
                                <td>Admin</td>
                            </tr>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp 0?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã
                                    từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì. Bằng
                                    cách
                                    tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có cơ hội hẹn
                                    hò
                                    với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-04-25</td>
                                <td>Boy AiTi</td>
                            </tr>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp 2?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã
                                    từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì. Bằng
                                    cách
                                    tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có cơ hội hẹn
                                    hò
                                    với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-04-25</td>
                                <td>Boy AiTi</td>
                            </tr>
                            <tr>
                                <td>Cách để có được một cô nàng xinh đẹp 1?</td>
                                <td>Tán tỉnh cô nàng nào đó là việc vừa hồi hộp vừa thú vị. Cho dù đó là cô gái mà bạn
                                    đã
                                    từng quen biết hay mới gặp, việc tán tỉnh chỉ dễ dàng khi bạn biết nên làm gì. Bằng
                                    cách
                                    tiếp cận cô ấy với sự tự tin, bộc lộ cá tính và tìm hiểu nàng, bạn sẽ có cơ hội hẹn
                                    hò
                                    với cô nàng trong mơ của mình!
                                </td>
                                <td><img src="assets/img/img3.webp" alt=""></td>
                                <td>2011-05-25</td>
                                <td>Admin</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Nội dung</th>
                                <th>Hình ảnh tiêu đề</th>
                                <th>Thời gian đăng</th>
                                <th>Người đăng</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4" id="admin-right">
                <h2 id="text-mess-user" class="py-4 bg-forum text-center "><i class="fa fa-television"
                        aria-hidden="true"></i> Thêm mới</h2>
                <div class="row ">
                    <div class="col-12">
                        <div class="row edit-infor" id="div-edit-remove">
                            <div class="col-6">
                                <a href="add_edit_news_admin.html" class="btn btn-confirm" id="edit-btn">Chỉnh sửa</a>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-cancel" id="remove-btn1">Xóa</button>
                            </div>
                        </div>
                        <div class="row p-3 news-details bg-question-light">
                            <h2 class="details-title" id="text-title">Thành công ở đại học là gì? Bí quyết để thành công?
                            </h2>
                            <p class="time-posted">Đã đăng ngày <datetime></datetime>
                            </p>
                            <p class="details-list"><a href="#">Java</a> <a href="#">Python</a> <a href="#">C#</a></p>
                            <img class="details-img" id="img-content" src="assets/img/img3.webp" alt="">
                            <p class="details-content" id="text-content">
                                Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                                còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                                Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                                hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                                cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                                giao tiếp hiệu quả.
                            </p>
                            <div id="div-image-preview">
                                <div class="news-paragraph p-0" id="paragraph0">
                                    <p class="news-paragraph-content" id="content-des0">
                                        Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà
                                        họ
                                        còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của
                                        bạn.
                                        Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                                        nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ
                                        chức…Các
                                        hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn
                                        là
                                        cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ
                                        năng
                                        giao tiếp hiệu quả.
                                    </p>
                                    <img src="assets/img/img4.jpg" id="imagges0" alt="">
                                    <p class="paragraph-note-img" id="imagges0">Hình này là hình siêu công nghệ</p>
                                </div>
                            </div>
                        </div>
                        <div id="div-cancel-confirm">
                            <a href="admin_account.html"><button class="btn btn-cancel">Hủy</button></a>
                            <button class="btn btn-confirm">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>