<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forum AiTi - Hỏi đáp công nghệ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/logoIT-border.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logoIT-border.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!--

-->
</head>

<body>
    <!-- Close Header -->
    <section class="container-fluid my-2 px-5 bg-submenu p-2">
        <div class="container-fluid bg-forum2">
            <h3 class="text-forum-orange mb-0 p-2">
                <oke class="bg-text-forum p-1">Forum</oke>
                <oke class="text-forum-submenu">AiTi</oke> / 505
            </h3>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Tìm kiếm ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- 404 Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center p-4 text-forum">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1 fw-bold">505</h1>
                <h1 class="mb-4">Không thể tải trang web</h1>
                <p class="mb-4">Rất tiếc, trang bạn đang tìm kiếm đã có lỗi xảy ra. Vui lòng thử lại sauc chúng tôi sẽ cố gắng sửa chữa nhanh nhất có thể.<br>Xin cám ơn!</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="">Quay trở lại trang chủ</a>
            </div>
        </div>
    </div>
    <!-- 404 End -->
</body>

</html>