@{
    ViewData["Title"] = "Hỏi đáp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Close Header -->
<section class="container-fluid my-2 px-5 bg-submenu p-2">
    <div class="container-fluid bg-forum2">
        <h3 class="text-forum-orange mb-0 p-2">
            <oke class="bg-text-forum p-1">Forum</oke>
            <oke class="text-forum-submenu">AiTi</oke> / Hỏi đáp
        </h3>
    </div>
</section>
<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Tìm kiếm ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- Start Categories of The Month -->
<section class="mx-5 my-2 ">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-8">
            <div class="container-fluid bg-question-light">
                <div class="row p-2">
                    <div class="col-12 col-lg-6 col-md-6">
                        Danh mục hỏi đáp
                        <select style="width: 100%;margin-top: 10%;" aria-placeholder="Đừng quên chọn danh mục nhé!"
                            required class="js-example-basic-multiple" id="listcategory" name="states[]"
                            multiple="multiple">
                            <option value="1">C#</option>
                            <option value="2">Java</option>
                            <option value="3">C++</option>
                            <option value="4">Python</option>
                        </select>
                        <script>
                            $(document).ready(function () {
                                $('.js-example-basic-multiple').select2({
                                    maximumSelectionLength: 3,
                                    language: "vi"
                                });
                            });
                        </script>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6">
                        Thời gian đăng bài
                        <select class="form-select mt-2" id="single-select-field" data-placeholder="Choose one thing">
                            <option></option>
                            <option>Hôm nay</option>
                            <option>Tuần trước</option>
                            <option>Tháng này</option>
                            <option>Năm này</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="QA my-2">
                <div class="question row">
                    <div class="question-body col-12">
                        <a href="details_qa.html">
                            <h4 class="question-title">Thành công ở đại học là gì? Bí quyết để thành công?</h4>
                        </a>
                        <p class="time-posted">Đã đăng ngày 27 / 01 / 2022 - <a href="#"><img id="question-imguser"
                                    src="images/user.jfif" alt=""> Boy AiTi</a></p>
                        <p class="question-list"><a href="#">Java</a> <a href="#">Python</a> <a href="#">C#</a></p>
                        <p class="question-content">
                            Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                            còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                            Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                            nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                            hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                            cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                            giao tiếp hiệu quả.
                        </p>
                        <p>
                            <pi class="question-watch"><i class="fa fa-eye" aria-hidden="true"></i> 230 Lượt xem
                            </pi>
                            <pi class="question-comment"><i class="fa fa-comment" aria-hidden="true"></i> 80 Bình
                                luận
                            </pi>
                        </p>
                    </div>
                </div>
                <div class="question row">
                    <div class="question-body col-12">
                        <h4 class="question-title">Thành công ở đại học là gì? Bí quyết để thành công?</h4>
                        <p class="time-posted">Đã đăng ngày 27 / 01 / 2022 - <a href="#"><img id="question-imguser"
                                    src="images/user.jfif" alt=""> Boy AiTi</a></p>
                        <p class="question-list"><a href="#">Java</a> <a href="#">Python</a> <a href="#">C#</a></p>
                        <p class="question-content">
                            Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                            còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                            Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                            nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                            hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                            cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                            giao tiếp hiệu quả.
                        </p>
                        <p>
                            <pi class="question-watch"><i class="fa fa-eye" aria-hidden="true"></i> 230 Lượt xem
                            </pi>
                            <pi class="question-comment"><i class="fa fa-comment" aria-hidden="true"></i> 80 Bình
                                luận
                            </pi>
                        </p>
                    </div>
                </div>
                <div class="question row">
                    <div class="question-body col-12">
                        <h4 class="question-title">Thành công ở đại học là gì? Bí quyết để thành công?</h4>
                        <p class="time-posted">Đã đăng ngày 27 / 01 / 2022 - <a href="#"><img id="question-imguser"
                                    src="images/user.jfif" alt=""> Boy AiTi</a></p>
                        <p class="question-list"><a href="#">Java</a> <a href="#">Python</a> <a href="#">C#</a></p>
                        <p class="question-content">
                            Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                            còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                            Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                            nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                            hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                            cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                            giao tiếp hiệu quả.
                        </p>
                        <p>
                            <pi class="question-watch"><i class="fa fa-eye" aria-hidden="true"></i> 230 Lượt xem
                            </pi>
                            <pi class="question-comment"><i class="fa fa-comment" aria-hidden="true"></i> 80 Bình
                                luận
                            </pi>
                        </p>
                    </div>
                </div>
                <div class="question row">
                    <div class="question-body col-12">
                        <h4 class="question-title">Thành công ở đại học là gì? Bí quyết để thành công?</h4>
                        <p class="time-posted">Đã đăng ngày 27 / 01 / 2022 - <a href="#"><img id="question-imguser"
                                    src="images/user.jfif" alt=""> Boy AiTi</a></p>
                        <p class="question-list"><a href="#">Java</a> <a href="#">Python</a> <a href="#">C#</a></p>
                        <p class="question-content">
                            Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                            còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                            Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                            nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                            hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                            cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                            giao tiếp hiệu quả.
                        </p>
                        <p>
                            <pi class="question-watch"><i class="fa fa-eye" aria-hidden="true"></i> 230 Lượt xem
                            </pi>
                            <pi class="question-comment"><i class="fa fa-comment" aria-hidden="true"></i> 80 Bình
                                luận
                            </pi>
                        </p>
                    </div>
                </div>
                <div class="question row">
                    <div class="question-body col-12">
                        <h4 class="question-title">Thành công ở đại học là gì? Bí quyết để thành công?</h4>
                        <p class="time-posted">Đã đăng ngày 27 / 01 / 2022 - <a href="#"><img id="question-imguser"
                                    src="images/user.jfif" alt=""> Boy AiTi</a></p>
                        <p class="question-list"><a href="#">Java</a> <a href="#">Python</a> <a href="#">C#</a></p>
                        <p class="question-content">
                            Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                            còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                            Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                            nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                            hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                            cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                            giao tiếp hiệu quả.
                        </p>
                        <p>
                            <pi class="question-watch"><i class="fa fa-eye" aria-hidden="true"></i> 230 Lượt xem
                            </pi>
                            <pi class="question-comment"><i class="fa fa-comment" aria-hidden="true"></i> 80 Bình
                                luận
                            </pi>
                        </p>
                    </div>
                </div>
                <div class="question row">
                    <div class="question-body col-12">
                        <h4 class="question-title">Thành công ở đại học là gì? Bí quyết để thành công?</h4>
                        <p class="time-posted">Đã đăng ngày 27 / 01 / 2022 - <a href="#"><img id="question-imguser"
                                    src="images/user.jfif" alt=""> Boy AiTi</a></p>
                        <p class="question-list"><a href="#">Java</a> <a href="#">Python</a> <a href="#">C#</a></p>
                        <p class="question-content">
                            Nhà tuyển dụng sẽ không chỉ quan tâm tới những ứng viên có thành tích học tập cao mà họ
                            còn rất chú trọng đến sự năng động hoạt bát và kĩ năng từ khi còn làm sinh viên của bạn.
                            Bởi vậy mà bên cạnh việc học tập thì bạn nên tích cực tham gia các hoạt động tình
                            nguyện, các câu lạc bộ các hoạt động văn hóa văn nghệ thể thao do nhà trường tổ chức…Các
                            hoạt động này không chỉ giúp bạn có thểm kinh nghiệm làm việc nhóm, tư duy,… mà còn là
                            cách giúp bạn hoàn thiện về mặt cảm xúc, tình cảm. Hơn nữa còn là cách rèn luyện kĩ năng
                            giao tiếp hiệu quả.
                        </p>
                        <p>
                            <pi class="question-watch"><i class="fa fa-eye" aria-hidden="true"></i> 230 Lượt xem
                            </pi>
                            <pi class="question-comment"><i class="fa fa-comment" aria-hidden="true"></i> 80 Bình
                                luận
                            </pi>
                        </p>
                    </div>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 p-0">
            <div class="container-fluid">
                <a href="/ask_question" class="ask-question">
                    <h2 class="py-4 bg-submenu-1 text-center">Đặt câu hỏi</h2>
                </a>
            </div>
            <div class="container-fluid">
                <h2 class="py-4 bg-forum text-light text-center new-question">Câu hỏi mới nhất</h2>
                <div class="question-div">
                    <div class="question-sub">
                        <a href="details-qa.html">
                            <h4 class="question-sub-title">Cách để bỏ code vô bộ não của coder</h4>
                        </a>
                        <p class="question-sub-time-posted">Đăng ngày 20 / 01 / 2022</p>
                        <a href="#">
                            <p class="question-sub-imguser"><img src="images/user.jfif" alt=""> Boy AiTi</p>
                        </a>
                    </div>
                    <div class="question-sub">
                        <a href="details-qa.html">
                            <h4 class="question-sub-title">Cách để bỏ code vô bộ não của coder</h4>
                        </a>
                        ~ <p class="question-sub-time-posted">Đăng ngày 20 / 01 / 2022</p>
                        <a href="#">
                            <p class="question-sub-imguser"><img src="images/user.jfif" alt=""> Boy AiTi</p>
                        </a>
                    </div>
                    <div class="question-sub">
                        <a href="details-qa.html">
                            <h4 class="question-sub-title">Cách để bỏ code vô bộ não của coder</h4>
                        </a>
                        <p class="question-sub-time-posted">Đăng ngày 20 / 01 / 2022</p>
                        <a href="#">
                            <p class="question-sub-imguser"><img src="images/user.jfif" alt=""> Boy AiTi</p>
                        </a>
                    </div>
                    <div class="question-sub">
                        <a href="details-qa.html">
                            <h4 class="question-sub-title">Cách để bỏ code vô bộ não của coder</h4>
                        </a>
                        <p class="question-sub-time-posted">Đăng ngày 20 / 01 / 2022</p>
                        <a href="#">
                            <p class="question-sub-imguser"><img src="images/user.jfif" alt=""> Boy AiTi</p>
                        </a>
                    </div>
                    <div class="question-sub">
                        <a href="details-qa.html">
                            <h4 class="question-sub-title">Cách để bỏ code vô bộ não của coder</h4>
                        </a>
                        <p class="question-sub-time-posted">Đăng ngày 20 / 01 / 2022</p>
                        <a href="#">
                            <p class="question-sub-imguser"><img src="images/user.jfif" alt=""> Boy AiTi</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <h2 class="py-4 bg-forum text-light text-center new-question">Thành viên ưu tú</h2>
                <div class="listTopMember">
                    <a href="#">
                        <div class="row member">
                            <div class="col-4 col-sm-6 member-left">
                                <img src="images/user.jfif" alt="">
                            </div>
                            <div class="col-8 col-sm-6 member-right">
                                <h4>Boy AiTi</h4>
                                <p>Ngày 27 Tháng 09 năm 2001</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="row member">
                            <div class="col-4 col-sm-6 member-left">
                                <img src="images/user.jfif" alt="">
                            </div>
                            <div class="col-8 col-sm-6 member-right">
                                <h4>Boy AiTi</h4>
                                <p>Ngày 27 Tháng 09 năm 2001</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="row member">
                            <div class="col-4 col-sm-6 member-left">
                                <img src="images/user.jfif" alt="">
                            </div>
                            <div class="col-8 col-sm-6 member-right">
                                <h4>Boy AiTi</h4>
                                <p>Ngày 27 Tháng 09 năm 2001</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="row member">
                            <div class="col-4 col-sm-6 member-left">
                                <img src="images/user.jfif" alt="">
                            </div>
                            <div class="col-8 col-sm-6 member-right">
                                <h4>Boy AiTi</h4>
                                <p>Ngày 27 Tháng 09 năm 2001</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="row member">
                            <div class="col-4 col-sm-6 member-left">
                                <img src="images/user.jfif" alt="">
                            </div>
                            <div class="col-8 col-sm-6 member-right">
                                <h4>Boy AiTi</h4>
                                <p>Ngày 27 Tháng 09 năm 2001</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>