@{
    ViewData["Title"] = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Liên hệ với chúng tôi</h1>
        <p>
            Hãy chia sẻ cho chúng tôi những vấn đề mà bạn đang gặp phải và những mong muốn forum cần cải tiến để phù hợp
            hơn với nhu cầu của bạn.
        </p>
    </div>
</div>

<!-- Start Contact -->
<div class="container mt-2 mb-2 bg-forum2 py-5">
    <div class="row py-5 contact">
        <form class="col-md-10 m-auto" method="post" role="form">
            <div class="row">
                <div class="form-group col-md-6 mb-4">
                    <label for="inputname">Họ và tên</label>
                    <input type="text" required class="form-control mt-1" id="name" name="name"
                        placeholder="Họ và tên của bạn">
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label for="inputemail">Email</label>
                    <input type="email" required class="form-control mt-1" id="email" name="email"
                        placeholder="Email của bạn">
                </div>
            </div>
            <div class="mb-4">
                <label for="inputsubject">Tiêu đề</label>
                <input type="text" required class="form-control mt-1" id="subject" name="subject" placeholder="Tiêu đề">
            </div>
            <div class="mb-4">
                <label for="inputmessage">Nội dung</label>
                <textarea required class="form-control mt-1" id="message" name="message" placeholder="Nội dung"
                    rows="8"></textarea>
            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">Góp ý</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Contact -->